@using System.Configuration
@model DataLayer.Users
<div style="direction:rtl; padding:20px">
    <h2>
        @Model.UserName
    </h2>
    <p>
        Click on the link below to retrieve your password.
    </p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomail"]/Account/RecoveryPassword/@Model.UserActiveCode/">Password recovery Link</a>
    </p>
</div>
