@model IEnumerable<DataLayer.Products>

<section class="last-products">
    <header><h3> New Products </h3> <a href="">Archive</a></header>
    <article>

        @foreach (var item in Model)
        {
            @Html.Partial("_product",item)
        }

        <div class="clearfix"></div>
    </article>
</section>

