
@{
    ViewBag.Title = "ActivUser";
}

<h2>Active your Account</h2>

<div class="alert alert-success ">
<h2>
    @ViewBag.UserName
</h2>
<p>
    Active your Account, Log in <a href="/Login"> Login </a>
</p>
</div>