@model DataLayer.Users
@{
    ViewBag.Title = "Register";
}

<div class="alert alert-success ">
    <h2>Thanks for your registration @Model.UserName </h2>
    <p> Activation link was sent to your email @Model.UserEmail</p>
</div>

