@model DataLayer.Users
@{
    ViewBag.Title = "Recovery Password";
}

<div class="alert alert-success ">
    <h2>Thanks  @Model.UserName </h2>
    <p>An email has been sent to you @Model.UserEmail  Click on the link</p>
</div>

