@model DataLayer.ViewModels.VisitSiteViewModel

<div class="thumbnail">
    <dl class="dl-horizontal">
        <dt>Visit Today</dt>
        <dd>@Model.VisitToday</dd>
        <dt>Visit yesterday</dt>
        <dd>@Model.VisitYesterday</dd>
        <dt>Visit Sum</dt>
        <dd>@Model.VisitSum</dd>
        <dt>Visit Sum</dt>
        <dd>@Model.VisitOnline</dd>

    </dl>

</div>
